body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/*-------Header--------*/

.header {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-accent-second {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation {
    display: flex;
    gap: 40px;
}

.navigation-link {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 24px 0;
    display: block;
}

.navigation-link:hover,
.navigation-link:focus {
    color: #404BBF;
}

.navigation-link:active {
    color: #404BBF;
}

.navigation-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}

.current {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: auto;
}

.address {
    display: flex;
    gap: 40px;
}

.address-list {
    color:#434455;
    text-decoration: none;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list:hover,
.address-list:focus {
    color: #404BBF;
}

/*------Hero-------*/

.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
}

.hero-title {
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    max-width: 496px;
}

.hero-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/*--Benefits--*/

.benefits {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-item:first-child {
    width: calc((100% - 72px) / 4);
}

.benefits-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    padding-top: 8px;
}

.about-benefits {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.icons-benefits {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
/*--------Team------*/

.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.section-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-card {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100%-72px)/4);
}

.bio {
    padding: 32px 0;
}

.title-team {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.description-team {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 10px;
}

.icon-list {
    display: flex;
    gap: 24px;
    padding-left: 15px;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-item {
    width: 40px;
    height: 40px;
}

.social-media-icon-list {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-icon-list:hover,
.social-media-icon-list:focus {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-img {
    fill: #f4f4fd;
}

/*------Portfolio--------*/

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto 72px;
}

.goods-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.goods {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.goods:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.goods:hover .cover-text {
    transform: translateY(0%);
}

.bio-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.cover-card {
    position: relative;
    overflow: hidden;
}

.cover-text {
    color: var(--CLOUD, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    background-color: var(--IRIS, #4D5AE5);
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cover-text:hover {
    transform: translateY(0%);
}

.title-third {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.description {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(0%);
}

/*-------Footer--------*/

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.logo-desc {
    margin-right: 120px;
}

.logo-footer {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-accent-second-footer {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-description {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-media {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-icon-list {
    display: flex;;
    gap: 16px;
}
.footer-icon-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-item:hover,
.footer-icon-item:focus {
background-color: #31D0AA;
}

.footer-social-media-icon-list {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-icon-list:hover,
.footer-social-media-icon-list:focus {
    background-color: #31D0AA;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-input {
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 264px;
    height: 40px;
    background-color: #2E2F42;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    margin-bottom: 16px;
}

.modal-btn {
    margin-left: auto;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.10);
    flex-shrink: 0;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:focus,
.modal-btn:hover {
    background-color:#404BBF;
}
.modal-name {
    font-family: Roboto;
        color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        text-align: center;
        margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 16px;
}

.modal-wrap {
    position: relative;
}

.modal-input {
    width: 360px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    outline: transparent;
    padding-left: 38px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.mpdal-input:hover {
    border-color: #4D5AE5;
}

.modal-input:focus + .modal-icon,
.mpdal-input:hover + .modal-icon {
    stroke: #4D5AE5;
    fill: #ffffff;
}

.back-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn {
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
    display: block;
    color: #8E8F99;
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.modal-icon {
    stroke: #2E2F42;
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    width: 360px;
    height: 120px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: transparent;
    padding: 12px 16px;
    resize: none;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:hover,
.modal-text:focus {
    border-color: #4D5AE5;
}

.check-text {
    color: #8E8F99;
        font-family: Roboto;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        display: flex;
        align-items: center;
        gap: 2px;
}

.check-text a {
    color: #4D5AE5;
        font-family: Roboto;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
        text-decoration-line: underline;
}

.check-text span {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    margin-right: 12px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.check-input {
    stroke-width: 1px;
    stroke:  rgba(46, 47, 66, 0.40);
    display: flex;
}

.check-input:checked + check-text span {
    stroke-width: 1px;
    stroke: rgba(46, 47, 66, 0.40);
    display: flex;
    background-color: #404bbf;
    fill: #F4F4FD;
}